

<p id="notice"><%= notice %></p>

<h1>Questions</h1>


    <% @questions.each do |question| %>
    <%= question.name %>
    <ul style="list-style-type:circle">
      <%question.answers.each do |answer|%>
       <li><%=answer.name%></li>
      <%end%>
      </ul>      
    <% end %>
  



<%= link_to 'New Question', new_question_path %>
